.admin-tambah-anggota {
    
    .page-content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .input-wrapper {
            display: flex;
            flex-direction: row;
            column-gap: 20px;
            row-gap: 20px;
            flex-wrap: wrap;
            
            &.tambah-anggota-form {
                align-items: center;
                justify-content: space-between;

                .form-group-material {
                    width: 50%;
                    flex-grow: 1;
                    margin: 0;
                }

                button {
                    // margin-bottom: 30px;
                }

            }

            .checkbox-wrapper {
                width: 100%;
                flex-basis: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: flex-start;
                column-gap: 20px;
                row-gap: 10px; 
            }

        }

        .select-wrapper {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: space-between;

            .form-select {
                width: 60%;
                flex-grow: 0.6;
            }

            .button-wrapper {
                flex-grow: 0.4;
                display: flex;
                flex-direction: row-reverse;
            }
        }

    }
}