.admin-keuangan {
    
    .page-content {

        .head-form {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 10px;
            flex-wrap: wrap;
        }

        .form-group-material {
            margin-bottom: 0;
        }
    }
}